{% extends 'base.html' %}

{% block title %}Listar Clientes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Listagem de Clientes</h1>

    <!-- Barra de busca e botão de cadastrar -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <form method="GET" action="{% url 'listar_clientes' %}" class="d-flex w-75">
            <input type="text" name="q" class="form-control me-2" placeholder="Buscar por nome ou CPF..." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-outline-primary d-flex align-items-center">
                <i class="bi bi-search me-2"></i>Buscar
            </button>
        </form>
        <a href="{% url 'cadastrar_cliente' %}" class="btn btn-outline-success d-flex align-items-center">
            <i class="bi bi-plus-circle me-2"></i>Cadastrar Novo Cliente
        </a>
    </div>

    <!-- Tabela de empresas -->
    {% if clientes %}
    <div class="table-responsive">
        <table class="table text-center align-middle">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>telefone</th>
                    <th>Email</th>
                    <th>Empresa</th>
                    <th>Departamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.username }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.telefone }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.empresa }}</td>
                    <td>{{ cliente.departamento }}</td>
                    <td>
                        <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-outline-warning btn-sm me-2">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <form action="{% url 'excluir_cliente' cliente.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir esta empresa?');">
                                <i class="bi bi-trash"></i> Excluir
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info text-center">Nenhuma empresa encontrada.</div>
    {% endif %}
</div>
{% endblock %}